In [1]:
import pandas as pd
import numpy as np

## 10.1 使用stack() 整理欄位名稱為數值的資料

In [ ]:
# 載入資料集 並設定索引
state_fruit = pd.read_csv('../../data/state_fruit.csv', index_col=0)
print(state_fruit)

         Apple  Orange  Banana
Texas       12      10      40
Arizona      9       7      12
Florida      0      14     190

In [3]:
# 使用stack()
print(state_fruit.stack())

Texas    Apple      12
         Orange     10
         Banana     40
Arizona  Apple       9
         Orange      7
         Banana     12
Florida  Apple       0
         Orange     14
         Banana    190
dtype: int64

In [ ]:
# 使用reset_index()
print(state_fruit.stack()
                 .reset_index())

   level_0 level_1    0
0    Texas   Apple   12
1    Texas  Orange   10
2    Texas  Banana   40
3  Arizona   Apple    9
4  Arizona  Orange    7
5  Arizona  Banana   12
6  Florida   Apple    0
7  Florida  Orange   14
8  Florida  Banana  190

In [5]:
# 改欄位名稱
print(state_fruit.stack()
                 .reset_index()
                 .rename(columns={'level_0': 'state',
                                  'level_1': 'fruit',
                                  0 : 'weight'}))

     state   fruit  weight
0    Texas   Apple      12
1    Texas  Orange      10
2    Texas  Banana      40
3  Arizona   Apple       9
4  Arizona  Orange       7
5  Arizona  Banana      12
6  Florida   Apple       0
7  Florida  Orange      14
8  Florida  Banana     190

In [ ]:
# 使用rename_axis
print(state_fruit.stack()
                 .rename_axis(['state','fruit'])
                 .reset_index(name='weight')
)

     state   fruit  weight
0    Texas   Apple      12
1    Texas  Orange      10
2    Texas  Banana      40
3  Arizona   Apple       9
4  Arizona  Orange       7
5  Arizona  Banana      12
6  Florida   Apple       0
7  Florida  Orange      14
8  Florida  Banana     190

In [9]:
# 直接讀入資料集
state_fruit2 = pd.read_csv('../../data/state_fruit2.csv')
print(state_fruit2)

     State  Apple  Orange  Banana
0    Texas     12      10      40
1  Arizona      9       7      12
2  Florida      0      14     190

In [10]:
# 使用stack()
print(state_fruit2.stack())

0  State       Texas
   Apple          12
   Orange         10
   Banana         40
1  State     Arizona
   Apple           9
   Orange          7
   Banana         12
2  State     Florida
   Apple           0
   Orange         14
   Banana        190
dtype: object

## 10.2 使用melt() 整理欄位名稱為變數值的資料

In [11]:
# 載入資料集
state_fruit2 = pd.read_csv('../../data/state_fruit2.csv')
print(state_fruit2)

     State  Apple  Orange  Banana
0    Texas     12      10      40
1  Arizona      9       7      12
2  Florida      0      14     190

In [12]:
# 使用melt()
print(state_fruit2.melt(id_vars=['State'],
                        value_vars=['Apple', 'Orange', 'Banana']))

     State variable  value
0    Texas    Apple     12
1  Arizona    Apple      9
2  Florida    Apple      0
3    Texas   Orange     10
4  Arizona   Orange      7
5  Florida   Orange     14
6    Texas   Banana     40
7  Arizona   Banana     12
8  Florida   Banana    190

In [13]:
# 命名欄位
print(state_fruit2.melt(id_vars=['State'],
                        value_vars=['Apple', 'Orange', 'Banana'],
                        var_name='Fruit',
                        value_name='Weight'))

     State   Fruit  Weight
0    Texas   Apple      12
1  Arizona   Apple       9
2  Florida   Apple       0
3    Texas  Orange      10
4  Arizona  Orange       7
5  Florida  Orange      14
6    Texas  Banana      40
7  Arizona  Banana      12
8  Florida  Banana     190

In [14]:
# 也可以不重入任何參數
print(state_fruit2.melt())

   variable    value
0     State    Texas
1     State  Arizona
2     State  Florida
3     Apple       12
4     Apple        9
5     Apple        0
6    Orange       10
7    Orange        7
8    Orange       14
9    Banana       40
10   Banana       12
11   Banana      190

In [15]:
# 如果沒有指定預設都是全部參與
print(state_fruit2.melt(id_vars='State'))

     State variable  value
0    Texas    Apple     12
1  Arizona    Apple      9
2  Florida    Apple      0
3    Texas   Orange     10
4  Arizona   Orange      7
5  Florida   Orange     14
6    Texas   Banana     40
7  Arizona   Banana     12
8  Florida   Banana    190

## 10.3 同時堆疊多組變數

In [6]:
# 載入資料集
movie = pd.read_csv('../../data/movie.csv')
actor = movie[['movie_title', 'actor_1_name',
               'actor_2_name', 'actor_3_name',
               'actor_1_facebook_likes',
               'actor_2_facebook_likes',
               'actor_3_facebook_likes']]
print(actor.head())

                                  movie_title     actor_1_name  \
0                                      Avatar      CCH Pounder
1    Pirates of the Caribbean: At World's End      Johnny Depp
2                                     Spectre  Christoph Waltz
3                       The Dark Knight Rises        Tom Hardy
4  Star Wars: Episode VII - The Force Awakens      Doug Walker

       actor_2_name          actor_3_name  actor_1_facebook_likes  \
0  Joel David Moore             Wes Studi                  1000.0
1     Orlando Bloom        Jack Davenport                 40000.0
2      Rory Kinnear      Stephanie Sigman                 11000.0
3    Christian Bale  Joseph Gordon-Levitt                 27000.0
4        Rob Walker                   NaN                   131.0

   actor_2_facebook_likes  actor_3_facebook_likes
0                   936.0                   855.0
1                  5000.0                  1000.0
2                   393.0                   161.0
3                 23000.0                 23000.0
4                    12.0                     NaN

In [9]:
# 先將欄位名稱後方修改成數字
def change_col_name(col_name):
    col_name = col_name.replace('_name', '')
    if 'facebook' in col_name:
        fb_idx = col_name.find('facebook')
        col_name = (col_name[:5] + col_name[fb_idx - 1:]
                    + col_name[5:fb_idx-1])
    return col_name

In [10]:
# 更改名稱
actor2 = actor.rename(columns=change_col_name)
print(actor2)

                                     movie_title          actor_1  \
0                                         Avatar      CCH Pounder
1       Pirates of the Caribbean: At World's End      Johnny Depp
2                                        Spectre  Christoph Waltz
3                          The Dark Knight Rises        Tom Hardy
4     Star Wars: Episode VII - The Force Awakens      Doug Walker
...                                          ...              ...
4911                     Signed Sealed Delivered      Eric Mabius
4912                               The Following      Natalie Zea
4913                        A Plague So Pleasant      Eva Boehnke
4914                            Shanghai Calling        Alan Ruck
4915                           My Date with Drew      John August

               actor_2               actor_3  actor_facebook_likes_1  \
0     Joel David Moore             Wes Studi                  1000.0
1        Orlando Bloom        Jack Davenport                 40000.0
2         Rory Kinnear      Stephanie Sigman                 11000.0
3       Christian Bale  Joseph Gordon-Levitt                 27000.0
4           Rob Walker                   NaN                   131.0
...                ...                   ...                     ...
4911     Daphne Zuniga          Crystal Lowe                   637.0
4912     Valorie Curry         Sam Underwood                   841.0
4913     Maxwell Moody        David Chandler                     0.0
4914     Daniel Henney           Eliza Coupe                   946.0
4915  Brian Herzlinger              Jon Gunn                    86.0

      actor_facebook_likes_2  actor_facebook_likes_3
0                      936.0                   855.0
1                     5000.0                  1000.0
2                      393.0                   161.0
3                    23000.0                 23000.0
4                       12.0                     NaN
...                      ...                     ...
4911                   470.0                   318.0
4912                   593.0                   319.0
4913                     0.0                     0.0
4914                   719.0                   489.0
4915                    23.0                    16.0

[4916 rows x 7 columns]

In [12]:
# 使用 wide_to_long()
stubs = ['actor', 'actor_facebook_likes']
actor2_tidy = pd.wide_to_long(actor2,
                stubnames=stubs,
                i=['movie_title'],
                j='actor_num',
                sep='_')
print(actor2_tidy.head())

                                                                actor  \
movie_title                                actor_num
Avatar                                     1              CCH Pounder
Pirates of the Caribbean: At World's End   1              Johnny Depp
Spectre                                    1          Christoph Waltz
The Dark Knight Rises                      1                Tom Hardy
Star Wars: Episode VII - The Force Awakens 1              Doug Walker

                                                      actor_facebook_likes
movie_title                                actor_num
Avatar                                     1                        1000.0
Pirates of the Caribbean: At World's End   1                       40000.0
Spectre                                    1                       11000.0
The Dark Knight Rises                      1                       27000.0
Star Wars: Episode VII - The Force Awakens 1                         131.0

In [13]:
# 載入資料集
df = pd.read_csv('../../data/stackme.csv')
print(df)

  State Country    a1   b2   Test  d  e
0    TX      US  0.45  0.3  Test1  2  6
1    MA      US  0.03  1.2  Test2  9  7
2    ON     CAN  0.70  4.2  Test3  4  2

In [16]:
# 重新命名
print(df.rename(columns={'a1':'group1_a1', 'b2':'group1_b2',
                   'd':'group2_a1', 'e':'group2_b2'}))

  State Country  group1_a1  group1_b2   Test  group2_a1  group2_b2
0    TX      US       0.45        0.3  Test1          2          6
1    MA      US       0.03        1.2  Test2          9          7
2    ON     CAN       0.70        4.2  Test3          4          2

In [17]:
# 使用suffix參數
print(pd.wide_to_long(
        df.rename(columns = {'a1':'group1_a1',
                             'b2':'group1_b2',
                             'd':'group2_a1', 'e':'group2_b2'}),
        stubnames=['group1', 'group2'],
        i=['State', 'Country', 'Test'],
        j='Label',
        suffix='.+',
        sep='_'
))

                           group1  group2
State Country Test  Label
TX    US      Test1 a1       0.45       2
                    b2       0.30       6
MA    US      Test2 a1       0.03       9
                    b2       1.20       7
ON    CAN     Test3 a1       0.70       4
                    b2       4.20       2

## 10.4 堆疊的反向操作

In [2]:
# 載入資料集 只保留特定欄位
usecol_func = lambda x: 'UGDS_' in x or x =='INSTNM'

college = pd.read_csv('../../data/college.csv',
                      index_col='INSTNM',
                      usecols=usecol_func)

print(college.head())

                                     UGDS_WHITE  UGDS_BLACK  UGDS_HISP  \
INSTNM
Alabama A & M University                 0.0333      0.9353     0.0055
University of Alabama at Birmingham      0.5922      0.2600     0.0283
Amridge University                       0.2990      0.4192     0.0069
University of Alabama in Huntsville      0.6988      0.1255     0.0382
Alabama State University                 0.0158      0.9208     0.0121

                                     UGDS_ASIAN  UGDS_AIAN  UGDS_NHPI  \
INSTNM
Alabama A & M University                 0.0019     0.0024     0.0019
University of Alabama at Birmingham      0.0518     0.0022     0.0007
Amridge University                       0.0034     0.0000     0.0000
University of Alabama in Huntsville      0.0376     0.0143     0.0002
Alabama State University                 0.0019     0.0010     0.0006

                                     UGDS_2MOR  UGDS_NRA  UGDS_UNKN
INSTNM
Alabama A & M University                0.0000    0.0059     0.0138
University of Alabama at Birmingham     0.0368    0.0179     0.0100
Amridge University                      0.0000    0.0000     0.2715
University of Alabama in Huntsville     0.0172    0.0332     0.0350
Alabama State University                0.0098    0.0243     0.0137

In [3]:
# 使用stack()
college_stacked = college.stack()
print(college_stacked)

INSTNM
Alabama A & M University         UGDS_WHITE    0.0333
                                 UGDS_BLACK    0.9353
                                 UGDS_HISP     0.0055
                                 UGDS_ASIAN    0.0019
                                 UGDS_AIAN     0.0024
                                                ...
Coastal Pines Technical College  UGDS_AIAN     0.0034
                                 UGDS_NHPI     0.0017
                                 UGDS_2MOR     0.0191
                                 UGDS_NRA      0.0028
                                 UGDS_UNKN     0.0056
Length: 61866, dtype: float64

In [4]:
# 使用unstack()
print(college_stacked.unstack())

                                                    UGDS_WHITE  UGDS_BLACK  \
INSTNM
Alabama A & M University                                0.0333      0.9353
University of Alabama at Birmingham                     0.5922      0.2600
Amridge University                                      0.2990      0.4192
University of Alabama in Huntsville                     0.6988      0.1255
Alabama State University                                0.0158      0.9208
...                                                        ...         ...
Hollywood Institute of Beauty Careers-West Palm...      0.2182      0.4182
Hollywood Institute of Beauty Careers-Casselberry       0.1200      0.3333
Coachella Valley Beauty College-Beaumont                0.3284      0.1045
Dewey University-Mayaguez                               0.0000      0.0000
Coastal Pines Technical College                         0.6762      0.2508

                                                    UGDS_HISP  UGDS_ASIAN  \
INSTNM
Alabama A & M University                               0.0055      0.0019
University of Alabama at Birmingham                    0.0283      0.0518
Amridge University                                     0.0069      0.0034
University of Alabama in Huntsville                    0.0382      0.0376
Alabama State University                               0.0121      0.0019
...                                                       ...         ...
Hollywood Institute of Beauty Careers-West Palm...     0.2364      0.0182
Hollywood Institute of Beauty Careers-Casselberry      0.4400      0.0000
Coachella Valley Beauty College-Beaumont               0.4925      0.0149
Dewey University-Mayaguez                              1.0000      0.0000
Coastal Pines Technical College                        0.0359      0.0045

                                                    UGDS_AIAN  UGDS_NHPI  \
INSTNM
Alabama A & M University                               0.0024     0.0019
University of Alabama at Birmingham                    0.0022     0.0007
Amridge University                                     0.0000     0.0000
University of Alabama in Huntsville                    0.0143     0.0002
Alabama State University                               0.0010     0.0006
...                                                       ...        ...
Hollywood Institute of Beauty Careers-West Palm...     0.0000     0.0000
Hollywood Institute of Beauty Careers-Casselberry      0.0000     0.0000
Coachella Valley Beauty College-Beaumont               0.0299     0.0149
Dewey University-Mayaguez                              0.0000     0.0000
Coastal Pines Technical College                        0.0034     0.0017

                                                    UGDS_2MOR  UGDS_NRA  \
INSTNM
Alabama A & M University                               0.0000    0.0059
University of Alabama at Birmingham                    0.0368    0.0179
Amridge University                                     0.0000    0.0000
University of Alabama in Huntsville                    0.0172    0.0332
Alabama State University                               0.0098    0.0243
...                                                       ...       ...
Hollywood Institute of Beauty Careers-West Palm...     0.0000    0.0182
Hollywood Institute of Beauty Careers-Casselberry      0.0400    0.0000
Coachella Valley Beauty College-Beaumont               0.0149    0.0000
Dewey University-Mayaguez                              0.0000    0.0000
Coastal Pines Technical College                        0.0191    0.0028

                                                    UGDS_UNKN
INSTNM
Alabama A & M University                               0.0138
University of Alabama at Birmingham                    0.0100
Amridge University                                     0.2715
University of Alabama in Huntsville                    0.0350
Alabama State University                               0.0137
...                                                       ...
Hollywood Institute of Beauty Careers-West Palm...     0.0909
Hollywood Institute of Beauty Careers-Casselberry      0.0667
Coachella Valley Beauty College-Beaumont               0.0000
Dewey University-Mayaguez                              0.0000
Coastal Pines Technical College                        0.0056

[6874 rows x 9 columns]

In [5]:
# 使用melt()
college2 = pd.read_csv('../../data/college.csv', usecols=usecol_func)

college_melted = college2.melt(id_vars='INSTNM',
                               var_name='Race',
                               value_name='Percentage')

print(college_melted)

                                                  INSTNM        Race  \
0                               Alabama A & M University  UGDS_WHITE
1                    University of Alabama at Birmingham  UGDS_WHITE
2                                     Amridge University  UGDS_WHITE
3                    University of Alabama in Huntsville  UGDS_WHITE
4                               Alabama State University  UGDS_WHITE
...                                                  ...         ...
67810         SAE Institute of Technology  San Francisco   UGDS_UNKN
67811                  Rasmussen College - Overland Park   UGDS_UNKN
67812  National Personal Training Institute of Cleveland   UGDS_UNKN
67813  Bay Area Medical Academy - San Jose Satellite ...   UGDS_UNKN
67814            Excel Learning Center-San Antonio South   UGDS_UNKN

       Percentage
0          0.0333
1          0.5922
2          0.2990
3          0.6988
4          0.0158
...           ...
67810         NaN
67811         NaN
67812         NaN
67813         NaN
67814         NaN

[67815 rows x 3 columns]

In [6]:
# 使用pivot()
melted_inv= college_melted.pivot(index='INSTNM',
                                  columns='Race',
                                  values='Percentage')

print(melted_inv)

Race                                                UGDS_2MOR  UGDS_AIAN  \
INSTNM
A & W Healthcare Educators                             0.0000     0.0000
A T Still University of Health Sciences                   NaN        NaN
ABC Beauty Academy                                     0.0000     0.0000
ABC Beauty College Inc                                 0.0000     0.0000
AI Miami International University of Art and De...     0.0018     0.0000
...                                                       ...        ...
Yukon Beauty College Inc                               0.0000     0.1200
Z Hair Academy                                         0.0211     0.0000
Zane State College                                     0.0218     0.0029
duCret School of Arts                                  0.0976     0.0000
eClips School of Cosmetology and Barbering             0.0000     0.0000

Race                                                UGDS_ASIAN  UGDS_BLACK  \
INSTNM
A & W Healthcare Educators                              0.0000      0.9750
A T Still University of Health Sciences                    NaN         NaN
ABC Beauty Academy                                      0.9333      0.0333
ABC Beauty College Inc                                  0.0000      0.6579
AI Miami International University of Art and De...      0.0018      0.0198
...                                                        ...         ...
Yukon Beauty College Inc                                0.0000      0.0400
Z Hair Academy                                          0.0000      0.0000
Zane State College                                      0.0029      0.0296
duCret School of Arts                                   0.0732      0.1951
eClips School of Cosmetology and Barbering              0.0000      0.8554

Race                                                UGDS_HISP  UGDS_NHPI  \
INSTNM
A & W Healthcare Educators                             0.0250     0.0000
A T Still University of Health Sciences                   NaN        NaN
ABC Beauty Academy                                     0.0333     0.0000
ABC Beauty College Inc                                 0.0526     0.0000
AI Miami International University of Art and De...     0.4773     0.0000
...                                                       ...        ...
Yukon Beauty College Inc                               0.0000     0.0400
Z Hair Academy                                         0.0211     0.0105
Zane State College                                     0.0029     0.0005
duCret School of Arts                                  0.1463     0.0000
eClips School of Cosmetology and Barbering             0.0000     0.0000

Race                                                UGDS_NRA  UGDS_UNKN  \
INSTNM
A & W Healthcare Educators                            0.0000     0.0000
A T Still University of Health Sciences                  NaN        NaN
ABC Beauty Academy                                    0.0000     0.0000
ABC Beauty College Inc                                0.0000     0.0000
AI Miami International University of Art and De...    0.0025     0.4644
...                                                      ...        ...
Yukon Beauty College Inc                              0.0000     0.0000
Z Hair Academy                                        0.0000     0.0105
Zane State College                                    0.0000     0.2399
duCret School of Arts                                 0.0000     0.0244
eClips School of Cosmetology and Barbering            0.0000     0.0000

Race                                                UGDS_WHITE
INSTNM
A & W Healthcare Educators                              0.0000
A T Still University of Health Sciences                    NaN
ABC Beauty Academy                                      0.0000
ABC Beauty College Inc                                  0.2895
AI Miami International University of Art and De...      0.0324
...                                                        ...
Yukon Beauty College Inc                                0.8000
Z Hair Academy                                          0.9368
Zane State College                                      0.6995
duCret School of Arts                                   0.4634
eClips School of Cosmetology and Barbering              0.1446

[7535 rows x 9 columns]

In [7]:
# 按照原排序
college2_replication = (melted_inv.loc[college2['INSTNM'],
                                       college2.columns[1:]]
                                       .reset_index())
college2.equals(college2_replication)

True

In [8]:
# unstack() 最外層
print(college.stack().unstack(level=0))

INSTNM      Alabama A & M University  University of Alabama at Birmingham  \
UGDS_WHITE                    0.0333                               0.5922
UGDS_BLACK                    0.9353                               0.2600
UGDS_HISP                     0.0055                               0.0283
UGDS_ASIAN                    0.0019                               0.0518
UGDS_AIAN                     0.0024                               0.0022
UGDS_NHPI                     0.0019                               0.0007
UGDS_2MOR                     0.0000                               0.0368
UGDS_NRA                      0.0059                               0.0179
UGDS_UNKN                     0.0138                               0.0100

INSTNM      Amridge University  University of Alabama in Huntsville  \
UGDS_WHITE              0.2990                               0.6988
UGDS_BLACK              0.4192                               0.1255
UGDS_HISP               0.0069                               0.0382
UGDS_ASIAN              0.0034                               0.0376
UGDS_AIAN               0.0000                               0.0143
UGDS_NHPI               0.0000                               0.0002
UGDS_2MOR               0.0000                               0.0172
UGDS_NRA                0.0000                               0.0332
UGDS_UNKN               0.2715                               0.0350

INSTNM      Alabama State University  The University of Alabama  \
UGDS_WHITE                    0.0158                     0.7825
UGDS_BLACK                    0.9208                     0.1119
UGDS_HISP                     0.0121                     0.0348
UGDS_ASIAN                    0.0019                     0.0106
UGDS_AIAN                     0.0010                     0.0038
UGDS_NHPI                     0.0006                     0.0009
UGDS_2MOR                     0.0098                     0.0261
UGDS_NRA                      0.0243                     0.0268
UGDS_UNKN                     0.0137                     0.0026

INSTNM      Central Alabama Community College  Athens State University  \
UGDS_WHITE                             0.7255                   0.7823
UGDS_BLACK                             0.2613                   0.1200
UGDS_HISP                              0.0044                   0.0191
UGDS_ASIAN                             0.0025                   0.0053
UGDS_AIAN                              0.0044                   0.0157
UGDS_NHPI                              0.0000                   0.0010
UGDS_2MOR                              0.0000                   0.0174
UGDS_NRA                               0.0000                   0.0057
UGDS_UNKN                              0.0019                   0.0334

INSTNM      Auburn University at Montgomery  Auburn University  ...  \
UGDS_WHITE                           0.5328             0.8507  ...
UGDS_BLACK                           0.3376             0.0704  ...
UGDS_HISP                            0.0074             0.0248  ...
UGDS_ASIAN                           0.0221             0.0227  ...
UGDS_AIAN                            0.0044             0.0074  ...
UGDS_NHPI                            0.0016             0.0000  ...
UGDS_2MOR                            0.0297             0.0000  ...
UGDS_NRA                             0.0397             0.0100  ...
UGDS_UNKN                            0.0246             0.0140  ...

INSTNM      MCI Institute of Technology-Boca Raton  \
UGDS_WHITE                                  0.0199
UGDS_BLACK                                  0.2815
UGDS_HISP                                   0.6854
UGDS_ASIAN                                  0.0132
UGDS_AIAN                                   0.0000
UGDS_NHPI                                   0.0000
UGDS_2MOR                                   0.0000
UGDS_NRA                                    0.0000
UGDS_UNKN                                   0.0000

INSTNM      West Coast University-Miami  National American University-Houston  \
UGDS_WHITE                       0.1522                                0.1858
UGDS_BLACK                       0.1739                                0.6443
UGDS_HISP                        0.6087                                0.0672
UGDS_ASIAN                       0.0217                                0.0079
UGDS_AIAN                        0.0000                                0.0079
UGDS_NHPI                        0.0000                                0.0000
UGDS_2MOR                        0.0435                                0.0751
UGDS_NRA                         0.0000                                0.0000
UGDS_UNKN                        0.0000                                0.0119

INSTNM      Aparicio-Levy Technical College  Fred D. Learey Technical College  \
UGDS_WHITE                           0.2431                            0.3731
UGDS_BLACK                           0.1215                            0.1388
UGDS_HISP                            0.6243                            0.3080
UGDS_ASIAN                           0.0055                            0.0000
UGDS_AIAN                            0.0055                            0.0000
UGDS_NHPI                            0.0000                            0.0000
UGDS_2MOR                            0.0000                            0.0022
UGDS_NRA                             0.0000                            0.0000
UGDS_UNKN                            0.0000                            0.1779

INSTNM      Hollywood Institute of Beauty Careers-West Palm Beach  \
UGDS_WHITE                                             0.2182
UGDS_BLACK                                             0.4182
UGDS_HISP                                              0.2364
UGDS_ASIAN                                             0.0182
UGDS_AIAN                                              0.0000
UGDS_NHPI                                              0.0000
UGDS_2MOR                                              0.0000
UGDS_NRA                                               0.0182
UGDS_UNKN                                              0.0909

INSTNM      Hollywood Institute of Beauty Careers-Casselberry  \
UGDS_WHITE                                             0.1200
UGDS_BLACK                                             0.3333
UGDS_HISP                                              0.4400
UGDS_ASIAN                                             0.0000
UGDS_AIAN                                              0.0000
UGDS_NHPI                                              0.0000
UGDS_2MOR                                              0.0400
UGDS_NRA                                               0.0000
UGDS_UNKN                                              0.0667

INSTNM      Coachella Valley Beauty College-Beaumont  \
UGDS_WHITE                                    0.3284
UGDS_BLACK                                    0.1045
UGDS_HISP                                     0.4925
UGDS_ASIAN                                    0.0149
UGDS_AIAN                                     0.0299
UGDS_NHPI                                     0.0149
UGDS_2MOR                                     0.0149
UGDS_NRA                                      0.0000
UGDS_UNKN                                     0.0000

INSTNM      Dewey University-Mayaguez  Coastal Pines Technical College
UGDS_WHITE                        0.0                           0.6762
UGDS_BLACK                        0.0                           0.2508
UGDS_HISP                         1.0                           0.0359
UGDS_ASIAN                        0.0                           0.0045
UGDS_AIAN                         0.0                           0.0034
UGDS_NHPI                         0.0                           0.0017
UGDS_2MOR                         0.0                           0.0191
UGDS_NRA                          0.0                           0.0028
UGDS_UNKN                         0.0                           0.0056

[9 rows x 6874 columns]

In [9]:
# 但其實上述結果等於原資料集的轉置
college.T
print(college.transpose())

INSTNM      Alabama A & M University  University of Alabama at Birmingham  \
UGDS_WHITE                    0.0333                               0.5922
UGDS_BLACK                    0.9353                               0.2600
UGDS_HISP                     0.0055                               0.0283
UGDS_ASIAN                    0.0019                               0.0518
UGDS_AIAN                     0.0024                               0.0022
UGDS_NHPI                     0.0019                               0.0007
UGDS_2MOR                     0.0000                               0.0368
UGDS_NRA                      0.0059                               0.0179
UGDS_UNKN                     0.0138                               0.0100

INSTNM      Amridge University  University of Alabama in Huntsville  \
UGDS_WHITE              0.2990                               0.6988
UGDS_BLACK              0.4192                               0.1255
UGDS_HISP               0.0069                               0.0382
UGDS_ASIAN              0.0034                               0.0376
UGDS_AIAN               0.0000                               0.0143
UGDS_NHPI               0.0000                               0.0002
UGDS_2MOR               0.0000                               0.0172
UGDS_NRA                0.0000                               0.0332
UGDS_UNKN               0.2715                               0.0350

INSTNM      Alabama State University  The University of Alabama  \
UGDS_WHITE                    0.0158                     0.7825
UGDS_BLACK                    0.9208                     0.1119
UGDS_HISP                     0.0121                     0.0348
UGDS_ASIAN                    0.0019                     0.0106
UGDS_AIAN                     0.0010                     0.0038
UGDS_NHPI                     0.0006                     0.0009
UGDS_2MOR                     0.0098                     0.0261
UGDS_NRA                      0.0243                     0.0268
UGDS_UNKN                     0.0137                     0.0026

INSTNM      Central Alabama Community College  Athens State University  \
UGDS_WHITE                             0.7255                   0.7823
UGDS_BLACK                             0.2613                   0.1200
UGDS_HISP                              0.0044                   0.0191
UGDS_ASIAN                             0.0025                   0.0053
UGDS_AIAN                              0.0044                   0.0157
UGDS_NHPI                              0.0000                   0.0010
UGDS_2MOR                              0.0000                   0.0174
UGDS_NRA                               0.0000                   0.0057
UGDS_UNKN                              0.0019                   0.0334

INSTNM      Auburn University at Montgomery  Auburn University  ...  \
UGDS_WHITE                           0.5328             0.8507  ...
UGDS_BLACK                           0.3376             0.0704  ...
UGDS_HISP                            0.0074             0.0248  ...
UGDS_ASIAN                           0.0221             0.0227  ...
UGDS_AIAN                            0.0044             0.0074  ...
UGDS_NHPI                            0.0016             0.0000  ...
UGDS_2MOR                            0.0297             0.0000  ...
UGDS_NRA                             0.0397             0.0100  ...
UGDS_UNKN                            0.0246             0.0140  ...

INSTNM      Strayer University-North Dallas  Strayer University-San Antonio  \
UGDS_WHITE                              NaN                             NaN
UGDS_BLACK                              NaN                             NaN
UGDS_HISP                               NaN                             NaN
UGDS_ASIAN                              NaN                             NaN
UGDS_AIAN                               NaN                             NaN
UGDS_NHPI                               NaN                             NaN
UGDS_2MOR                               NaN                             NaN
UGDS_NRA                                NaN                             NaN
UGDS_UNKN                               NaN                             NaN

INSTNM      Strayer University-Stafford  WestMed College - Merced  \
UGDS_WHITE                          NaN                       NaN
UGDS_BLACK                          NaN                       NaN
UGDS_HISP                           NaN                       NaN
UGDS_ASIAN                          NaN                       NaN
UGDS_AIAN                           NaN                       NaN
UGDS_NHPI                           NaN                       NaN
UGDS_2MOR                           NaN                       NaN
UGDS_NRA                            NaN                       NaN
UGDS_UNKN                           NaN                       NaN

INSTNM      Vantage College  SAE Institute of Technology  San Francisco  \
UGDS_WHITE              NaN                                         NaN
UGDS_BLACK              NaN                                         NaN
UGDS_HISP               NaN                                         NaN
UGDS_ASIAN              NaN                                         NaN
UGDS_AIAN               NaN                                         NaN
UGDS_NHPI               NaN                                         NaN
UGDS_2MOR               NaN                                         NaN
UGDS_NRA                NaN                                         NaN
UGDS_UNKN               NaN                                         NaN

INSTNM      Rasmussen College - Overland Park  \
UGDS_WHITE                                NaN
UGDS_BLACK                                NaN
UGDS_HISP                                 NaN
UGDS_ASIAN                                NaN
UGDS_AIAN                                 NaN
UGDS_NHPI                                 NaN
UGDS_2MOR                                 NaN
UGDS_NRA                                  NaN
UGDS_UNKN                                 NaN

INSTNM      National Personal Training Institute of Cleveland  \
UGDS_WHITE                                                NaN
UGDS_BLACK                                                NaN
UGDS_HISP                                                 NaN
UGDS_ASIAN                                                NaN
UGDS_AIAN                                                 NaN
UGDS_NHPI                                                 NaN
UGDS_2MOR                                                 NaN
UGDS_NRA                                                  NaN
UGDS_UNKN                                                 NaN

INSTNM      Bay Area Medical Academy - San Jose Satellite Location  \
UGDS_WHITE                                                NaN
UGDS_BLACK                                                NaN
UGDS_HISP                                                 NaN
UGDS_ASIAN                                                NaN
UGDS_AIAN                                                 NaN
UGDS_NHPI                                                 NaN
UGDS_2MOR                                                 NaN
UGDS_NRA                                                  NaN
UGDS_UNKN                                                 NaN

INSTNM      Excel Learning Center-San Antonio South
UGDS_WHITE                                      NaN
UGDS_BLACK                                      NaN
UGDS_HISP                                       NaN
UGDS_ASIAN                                      NaN
UGDS_AIAN                                       NaN
UGDS_NHPI                                       NaN
UGDS_2MOR                                       NaN
UGDS_NRA                                        NaN
UGDS_UNKN                                       NaN

[9 rows x 7535 columns]

## 10.5 在彙總資料後進行反堆疊操作

In [10]:
# 讀入資料集 並找出各種族的平均薪水
employee = pd.read_csv('../../data/employee.csv')

print(employee
        .groupby('RACE')
        ['BASE_SALARY']
        .mean()
        .astype(int))

RACE
American Indian or Alaskan Native    60272
Asian/Pacific Islander               61660
Black or African American            50137
Hispanic/Latino                      52345
Others                               51278
White                                64419
Name: BASE_SALARY, dtype: int64

In [12]:
# 多條件groupby
print(employee
        .groupby(['RACE', 'GENDER'])
        ['BASE_SALARY']
        .mean()
        .astype(int))

RACE                               GENDER
American Indian or Alaskan Native  Female    60238
                                   Male      60305
Asian/Pacific Islander             Female    63226
                                   Male      61033
Black or African American          Female    48915
                                   Male      51082
Hispanic/Latino                    Female    46503
                                   Male      54782
Others                             Female    63785
                                   Male      38771
White                              Female    66793
                                   Male      63940
Name: BASE_SALARY, dtype: int64

In [14]:
# 所以我們可以unstack() 性別索引
print(employee
        .groupby(['RACE', 'GENDER'])
        ['BASE_SALARY']
        .mean()
        .astype(int)
        .unstack('GENDER'))

GENDER                             Female   Male
RACE
American Indian or Alaskan Native   60238  60305
Asian/Pacific Islander              63226  61033
Black or African American           48915  51082
Hispanic/Latino                     46503  54782
Others                              63785  38771
White                               66793  63940

In [15]:
# 也可以unstack() 種族索引
print(employee
        .groupby(['RACE', 'GENDER'])
        ['BASE_SALARY']
        .mean()
        .astype(int)
        .unstack('RACE'))

RACE    American Indian or Alaskan Native  Asian/Pacific Islander  \
GENDER
Female                              60238                   63226
Male                                60305                   61033

RACE    Black or African American  Hispanic/Latino  Others  White
GENDER
Female                      48915            46503   63785  66793
Male                        51082            54782   38771  63940

In [16]:
# 多個聚合
print(employee
        .groupby(['RACE', 'GENDER'])
        ['BASE_SALARY']
        .agg(['mean', 'max', 'min'])
        .astype(int)
)

                                           mean     max    min
RACE                              GENDER
American Indian or Alaskan Native Female  60238   98536  26125
                                  Male    60305   81239  26125
Asian/Pacific Islander            Female  63226  130416  26125
                                  Male    61033  163228  27914
Black or African American         Female  48915  150416  24960
                                  Male    51082  275000  26125
Hispanic/Latino                   Female  46503  126115  26125
                                  Male    54782  165216  26104
Others                            Female  63785   63785  63785
                                  Male    38771   38771  38771
White                             Female  66793  178331  27955
                                  Male    63940  210588  26125

In [ ]:
# unstack() 的效果
print(employee
        .groupby(['RACE', 'GENDER'])
        ['BASE_SALARY']
        .agg(['mean', 'max', 'min'])
        .astype(int)
        .unstack('GENDER'))

                                    mean            max            min
GENDER                            Female   Male  Female    Male Female   Male
RACE
American Indian or Alaskan Native  60238  60305   98536   81239  26125  26125
Asian/Pacific Islander             63226  61033  130416  163228  26125  27914
Black or African American          48915  51082  150416  275000  24960  26125
Hispanic/Latino                    46503  54782  126115  165216  26125  26104
Others                             63785  38771   63785   38771  63785  38771
White                              66793  63940  178331  210588  27955  26125

## 10.6 使用groupby 模擬pivot_table() 的功能

In [18]:
# 載入資料集
flights = pd.read_csv('../../data/flights.csv')

# 使用pivot_table() 統計不同出發機場中 每家航空的取消航班數
fpt = flights.pivot_table(index='AIRLINE',
                          columns='ORG_AIR',
                          values='CANCELLED',
                          aggfunc='sum',
                          fill_value=0).round(2)

print(fpt)

ORG_AIR  ATL  DEN  DFW  IAH  LAS  LAX  MSP  ORD  PHX  SFO
AIRLINE
AA         3    4   86    3    3   11    3   35    4    2
AS         0    0    0    0    0    0    0    0    0    0
B6         0    0    0    0    0    0    0    0    0    1
DL        28    1    0    0    1    1    4    0    1    2
EV        18    6   27   36    0    0    6   53    0    0
F9         0    2    1    0    1    1    1    4    0    0
HA         0    0    0    0    0    0    0    0    0    0
MQ         5    0   62    0    0    0    0   85    0    0
NK         1    1    6    0    1    1    3   10    2    0
OO         3   25    2   10    0   15    4   41    9   33
UA         2    9    1   23    3    6    2   25    3   19
US         0    0    2    2    1    0    0    6    7    3
VX         0    0    0    0    0    3    0    0    0    3
WN         9   13    0    0    7   32    1    0    6   25

In [19]:
# 先用groupby 算出取消航班數 然後再unstack 出發地
fpg = (flights
        .groupby(['AIRLINE', 'ORG_AIR'])
        ['CANCELLED']
        .sum()
        .unstack('ORG_AIR', fill_value=0))
print(fpt.equals(fpg))
print(fpg)

True
ORG_AIR  ATL  DEN  DFW  IAH  LAS  LAX  MSP  ORD  PHX  SFO
AIRLINE
AA         3    4   86    3    3   11    3   35    4    2
AS         0    0    0    0    0    0    0    0    0    0
B6         0    0    0    0    0    0    0    0    0    1
DL        28    1    0    0    1    1    4    0    1    2
EV        18    6   27   36    0    0    6   53    0    0
F9         0    2    1    0    1    1    1    4    0    0
HA         0    0    0    0    0    0    0    0    0    0
MQ         5    0   62    0    0    0    0   85    0    0
NK         1    1    6    0    1    1    3   10    2    0
OO         3   25    2   10    0   15    4   41    9   33
UA         2    9    1   23    3    6    2   25    3   19
US         0    0    2    2    1    0    0    6    7    3
VX         0    0    0    0    0    3    0    0    0    3
WN         9   13    0    0    7   32    1    0    6   25

In [25]:
# groupby 模擬複雜的pivot_table()
print(flights
        .groupby(['AIRLINE', 'MONTH', 'ORG_AIR', 'CANCELLED'])
        [['DEP_DELAY', 'DIST']]
        .agg(['mean', 'sum'])
        .unstack(['ORG_AIR','CANCELLED'], fill_value=0)
        .swaplevel(0, 1, axis='columns')
        )

                    mean                                                       \
               DEP_DELAY
ORG_AIR              ATL             DEN             DFW             IAH
CANCELLED              0    1          0    1          0    1          0    1
AIRLINE MONTH
AA      1      -3.250000  0.0   7.062500  0.0  11.977591 -3.0   9.750000  0.0
        2      -3.000000  NaN   5.461538  NaN   8.756579  NaN   1.000000  NaN
        3      -0.166667  NaN   7.666667  0.0  15.383784  NaN  10.900000  0.0
        4       0.071429  0.0  20.266667  0.0  10.501493  NaN   6.933333  0.0
        5       5.777778  0.0  23.466667  NaN  16.798780  NaN   3.055556  NaN
...                  ...  ...        ...  ...        ...  ...        ...  ...
WN      7      21.700000  0.0  13.143836  0.0   0.000000  0.0   0.000000  0.0
        8      16.207547  0.0   7.375000  0.0   0.000000  0.0   0.000000  0.0
        9       8.680672  0.0   4.378882  0.0   0.000000  0.0   0.000000  0.0
        11      5.932203  NaN   8.215569  NaN   0.000000  0.0   0.000000  0.0
        12     15.691589  0.0  12.166667  NaN   0.000000  0.0   0.000000  0.0

                               ...     sum                                \
                               ...    DIST
ORG_AIR              LAS       ...     LAX          MSP        ORD
CANCELLED              0    1  ...       0     1      0  1       0     1
AIRLINE MONTH                  ...
AA      1      32.375000  0.0  ...  135921  2475   7281  0  129334     0
        2      -3.055556  NaN  ...  113483  5454   5040  0  120572  5398
        3      12.074074  0.0  ...  131836  1744  14471  0  127072   802
        4      27.241379  0.0  ...  170285     0   4541  0  152154  4718
        5       2.818182  0.0  ...  167484     0   6298  0  110864  1999
...                  ...  ...  ...     ...   ...    ... ..     ...   ...
WN      7      22.439024  NaN  ...   98545  2950  19418  0       0     0
        8      16.158974  NaN  ...   82705  1384  13735  0       0     0
        9       7.179487  0.0  ...   83021   953  15466  0       0     0
        11      7.522989  NaN  ...   74092  1378   8031  0       0     0
        12     11.994845  NaN  ...   85228  2134  12060  0       0     0



ORG_AIR           PHX         SFO
CANCELLED           0    1      0     1
AIRLINE MONTH
AA      1       21018    0  33483     0
        2       17049  868  32110  2586
        3       25770    0  43580     0
        4       17727    0  51054     0
        5       11164    0  40233     0
...               ...  ...    ...   ...
WN      7      124669  369  24176     0
        8      153350    0  18056   784
        9      130926    0  27800   709
        11     117726  872  23235   784
        12     112871    0  30508     0

[149 rows x 80 columns]

## 10.7 重新命名個軸內的不同層級

In [3]:
# 載入資料集
college = pd.read_csv('../../data/college.csv')
print(college
        .groupby(['STABBR', 'RELAFFIL'])
        [['UGDS', 'SATMTMID']]
        .agg(['size', 'min', 'max']))

                UGDS                 SATMTMID
                size    min      max     size    min    max
STABBR RELAFFIL
AK     0           7  109.0  12865.0        7    NaN    NaN
       1           3   27.0    275.0        3  503.0  503.0
AL     0          72   12.0  29851.0       72  420.0  590.0
       1          24   13.0   3033.0       24  400.0  560.0
AR     0          68   18.0  21405.0       68  427.0  565.0
...              ...    ...      ...      ...    ...    ...
WI     0          87   20.0  29302.0       87  480.0  680.0
       1          25    4.0   8212.0       25  452.0  605.0
WV     0          65   20.0  44924.0       65  430.0  530.0
       1           8   63.0   1375.0        8  455.0  510.0
WY     0          11   52.0   9910.0       11  540.0  540.0

[112 rows x 6 columns]

In [4]:
# 替欄位層級取名
print(college
        .groupby(['STABBR', 'RELAFFIL'])
        [['UGDS', 'SATMTMID']]
        .agg(['size', 'min', 'max'])
        .rename_axis(['AGG_COLS', 'AGG_FUNCS'], axis='columns'))

AGG_COLS        UGDS                 SATMTMID
AGG_FUNCS       size    min      max     size    min    max
STABBR RELAFFIL
AK     0           7  109.0  12865.0        7    NaN    NaN
       1           3   27.0    275.0        3  503.0  503.0
AL     0          72   12.0  29851.0       72  420.0  590.0
       1          24   13.0   3033.0       24  400.0  560.0
AR     0          68   18.0  21405.0       68  427.0  565.0
...              ...    ...      ...      ...    ...    ...
WI     0          87   20.0  29302.0       87  480.0  680.0
       1          25    4.0   8212.0       25  452.0  605.0
WV     0          65   20.0  44924.0       65  430.0  530.0
       1           8   63.0   1375.0        8  455.0  510.0
WY     0          11   52.0   9910.0       11  540.0  540.0

[112 rows x 6 columns]

In [5]:
# 將AGG_FUNCS 改為索引欄
print(college
        .groupby(['STABBR', 'RELAFFIL'])
        [['UGDS', 'SATMTMID']]
        .agg(['size', 'min', 'max'])
        .rename_axis(['AGG_COLS', 'AGG_FUNCS'], axis='columns')
        .stack('AGG_FUNCS'))

AGG_COLS                      UGDS  SATMTMID
STABBR RELAFFIL AGG_FUNCS
AK     0        size           7.0       7.0
                min          109.0       NaN
                max        12865.0       NaN
       1        size           3.0       3.0
                min           27.0     503.0
...                            ...       ...
WV     1        min           63.0     455.0
                max         1375.0     510.0
WY     0        size          11.0      11.0
                min           52.0     540.0
                max         9910.0     540.0

[332 rows x 2 columns]

C:\Users\coffi\AppData\Local\Temp\ipykernel_13828\1136265079.py:7: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  .stack('AGG_FUNCS'))

In [6]:
# 還可以對調索引欄
print(college
        .groupby(['STABBR', 'RELAFFIL'])
        [['UGDS', 'SATMTMID']]
        .agg(['size', 'min', 'max'])
        .rename_axis(['AGG_COLS', 'AGG_FUNCS'], axis='columns')
        .stack('AGG_FUNCS')
        .swaplevel('AGG_FUNCS', 'STABBR', axis='index'))

AGG_COLS                      UGDS  SATMTMID
AGG_FUNCS RELAFFIL STABBR
size      0        AK          7.0       7.0
min       0        AK        109.0       NaN
max       0        AK      12865.0       NaN
size      1        AK          3.0       3.0
min       1        AK         27.0     503.0
...                            ...       ...
                   WV         63.0     455.0
max       1        WV       1375.0     510.0
size      0        WY         11.0      11.0
min       0        WY         52.0     540.0
max       0        WY       9910.0     540.0

[332 rows x 2 columns]

C:\Users\coffi\AppData\Local\Temp\ipykernel_13828\3047407508.py:7: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  .stack('AGG_FUNCS')

In [7]:
# 可以指定要排序的索引
print(college
        .groupby(['STABBR', 'RELAFFIL'])
        [['UGDS', 'SATMTMID']]
        .agg(['size', 'min', 'max'])
        .rename_axis(['AGG_COLS', 'AGG_FUNCS'], axis='columns')
        .stack('AGG_FUNCS')
        .swaplevel('AGG_FUNCS', 'STABBR', axis='index')
        .sort_index(level='RELAFFIL', axis='index')
        .sort_index(level='AGG_COLS', axis='columns'))

AGG_COLS                   SATMTMID      UGDS
AGG_FUNCS RELAFFIL STABBR
max       0        AK           NaN   12865.0
                   AL         590.0   29851.0
                   AR         565.0   21405.0
                   AS           NaN    1276.0
                   AZ         580.0  151558.0
...                             ...       ...
size      1        VI           1.0       1.0
                   VT           5.0       5.0
                   WA          17.0      17.0
                   WI          25.0      25.0
                   WV           8.0       8.0

[332 rows x 2 columns]

C:\Users\coffi\AppData\Local\Temp\ipykernel_13828\305948852.py:7: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  .stack('AGG_FUNCS')

In [8]:
# 先stack 再 unstack
print(college
        .groupby(['STABBR', 'RELAFFIL'])
        [['UGDS', 'SATMTMID']]
        .agg(['size', 'min', 'max'])
        .rename_axis(['AGG_COLS', 'AGG_FUNCS'], axis='columns')
        .stack('AGG_FUNCS')
        .unstack(['RELAFFIL', 'STABBR']))

AGG_COLS      UGDS                                                             \
RELAFFIL         0      1        0       1        0       1       0
STABBR          AK     AK       AL      AL       AR      AR      AS        AZ
AGG_FUNCS
size           7.0    3.0     72.0    24.0     68.0    18.0     1.0     124.0
min          109.0   27.0     12.0    13.0     18.0    20.0  1276.0       1.0
max        12865.0  275.0  29851.0  3033.0  21405.0  4485.0  1276.0  151558.0

AGG_COLS                    ... SATMTMID                                   \
RELAFFIL        1        0  ...        1      0    1      0      1      0
STABBR         AZ       CA  ...       VI     VT   VT     WA     WA     WI
AGG_FUNCS                   ...
size          9.0    609.0  ...      1.0   22.0  5.0  106.0   17.0   87.0
min          25.0      0.0  ...      NaN  425.0  NaN  485.0  496.0  480.0
max        4102.0  44744.0  ...      NaN  685.0  NaN  655.0  605.0  680.0

AGG_COLS
RELAFFIL       1      0      1      0
STABBR        WI     WV     WV     WY
AGG_FUNCS
size        25.0   65.0    8.0   11.0
min        452.0  430.0  455.0  540.0
max        605.0  530.0  510.0  540.0

[3 rows x 224 columns]

C:\Users\coffi\AppData\Local\Temp\ipykernel_13828\2133382907.py:7: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  .stack('AGG_FUNCS')

In [9]:
# stack 所有欄位標籤
print(college
        .groupby(['STABBR', 'RELAFFIL'])
        [['UGDS', 'SATMTMID']]
        .agg(['size', 'min', 'max'])
        .rename_axis(['AGG_COLS', 'AGG_FUNCS'], axis='columns')
        .stack(['AGG_FUNCS', 'AGG_COLS']))

STABBR  RELAFFIL  AGG_FUNCS  AGG_COLS
AK      0         size       UGDS            7.0
                             SATMTMID        7.0
                  min        UGDS          109.0
                  max        UGDS        12865.0
        1         size       UGDS            3.0
                                          ...
WY      0         size       SATMTMID       11.0
                  min        UGDS           52.0
                             SATMTMID      540.0
                  max        UGDS         9910.0
                             SATMTMID      540.0
Length: 640, dtype: float64

C:\Users\coffi\AppData\Local\Temp\ipykernel_13828\1477662221.py:7: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  .stack(['AGG_FUNCS', 'AGG_COLS']))

In [10]:
# unstack 所有索引
print(college
        .groupby(['STABBR', 'RELAFFIL'])
        [['UGDS', 'SATMTMID']]
        .agg(['size', 'min', 'max'])
        .rename_axis(['AGG_COLS', 'AGG_FUNCS'], axis='columns')
        .unstack(['STABBR', 'RELAFFIL']))

AGG_COLS  AGG_FUNCS  STABBR  RELAFFIL
UGDS      size       AK      0             7.0
                             1             3.0
                     AL      0            72.0
                             1            24.0
                     AR      0            68.0
                                         ...
SATMTMID  max        WI      1           605.0
                     WV      0           530.0
                             1           510.0
                     WY      0           540.0
                             1             NaN
Length: 708, dtype: float64

In [11]:
# 移除層級標籤
print(college
        .groupby(['STABBR', 'RELAFFIL'])
        [['UGDS', 'SATMTMID']]
        .agg(['size', 'min', 'max'])
        .rename_axis([None, None], axis='index')
        .rename_axis([None, None], axis='columns'))

     UGDS                 SATMTMID
     size    min      max     size    min    max
AK 0    7  109.0  12865.0        7    NaN    NaN
   1    3   27.0    275.0        3  503.0  503.0
AL 0   72   12.0  29851.0       72  420.0  590.0
   1   24   13.0   3033.0       24  400.0  560.0
AR 0   68   18.0  21405.0       68  427.0  565.0
...   ...    ...      ...      ...    ...    ...
WI 0   87   20.0  29302.0       87  480.0  680.0
   1   25    4.0   8212.0       25  452.0  605.0
WV 0   65   20.0  44924.0       65  430.0  530.0
   1    8   63.0   1375.0        8  455.0  510.0
WY 0   11   52.0   9910.0       11  540.0  540.0

[112 rows x 6 columns]

## 10.8 重塑欄位名稱包含多個變數的資料

In [12]:
# 載入資料集
weightlifting = pd.read_csv('../../data/weightlifting_men.csv')
print(weightlifting)

  Weight Category  M35 35-39  M40 40-44  M45 45-49  M50 50-54  M55 55-59  \
0              56        137        130        125        115        102
1              62        152        145        137        127        112
2              69        167        160        150        140        125
3              77        182        172        165        150        135
4              85        192        182        175        160        142
5              94        202        192        182        167        150
6             105        210        200        190        175        157
7            105+        217        207        197        182        165

   M60 60-64  M65 65-69  M70 70-74  M75 75-79  M80 80+
0         92         80         67         62       55
1        102         90         75         67       57
2        112         97         82         75       60
3        122        107         90         82       65
4        130        112         95         87       70
5        137        120        100         90       75
6        142        122        102         95       80
7        150        127        107        100       85

In [13]:
# 先用melt 轉置欄位
print(weightlifting
        .melt(id_vars='Weight Category',
              var_name='sex_age',
              value_name='Qual Total'))

   Weight Category    sex_age  Qual Total
0               56  M35 35-39         137
1               62  M35 35-39         152
2               69  M35 35-39         167
3               77  M35 35-39         182
4               85  M35 35-39         192
..             ...        ...         ...
75              77    M80 80+          65
76              85    M80 80+          70
77              94    M80 80+          75
78             105    M80 80+          80
79            105+    M80 80+          85

[80 rows x 3 columns]

In [15]:
# 拆分性別與年齡
print(weightlifting
        .melt(id_vars='Weight Category',
              var_name='sex_age',
              value_name='Qual Total')
        ['sex_age']
        .str.split(expand=True)
        .rename(columns={0:'Sex', 1:'Age Group'})
        .assign(Sex=lambda df_:df_.Sex.str[0])
)

   Sex Age Group
0    M     35-39
1    M     35-39
2    M     35-39
3    M     35-39
4    M     35-39
..  ..       ...
75   M       80+
76   M       80+
77   M       80+
78   M       80+
79   M       80+

[80 rows x 2 columns]

In [16]:
# 合併回原始資料集
melted = (weightlifting
        .melt(id_vars='Weight Category',
              var_name='sex_age',
              value_name='Qual Total'))
tidy = pd.concat([melted['sex_age']
        .str.split(expand=True)
        .rename(columns={0:'Sex', 1:'Age Group'})
        .assign(Sex=lambda df_:df_.Sex.str[0]),
        melted[['Weight Category', 'Qual Total']]],
        axis='columns')
print(tidy)

   Sex Age Group Weight Category  Qual Total
0    M     35-39              56         137
1    M     35-39              62         152
2    M     35-39              69         167
3    M     35-39              77         182
4    M     35-39              85         192
..  ..       ...             ...         ...
75   M       80+              77          65
76   M       80+              85          70
77   M       80+              94          75
78   M       80+             105          80
79   M       80+            105+          85

[80 rows x 4 columns]

In [21]:
# 合併回原始資料集 用assign
melted = (weightlifting
        .melt(id_vars='Weight Category',
              var_name='sex_age',
              value_name='Qual Total')
)
print(melted['sex_age']
        .str.split(expand=True)
        .rename(columns={0:'Sex', 1:'Age Group'})
        .assign(Sex=lambda df_:df_.Sex.str[0],
        Weight_Category=melted['Weight Category'],
        Quad_Total=melted['Qual Total'])
)

   Sex Age Group Weight_Category  Quad_Total
0    M     35-39              56         137
1    M     35-39              62         152
2    M     35-39              69         167
3    M     35-39              77         182
4    M     35-39              85         192
..  ..       ...             ...         ...
75   M       80+              77          65
76   M       80+              85          70
77   M       80+              94          75
78   M       80+             105          80
79   M       80+            105+          85

[80 rows x 4 columns]

In [23]:
# 改用extract
tidy2 = (weightlifting
        .melt(id_vars='Weight Category',
              var_name='sex_age',
              value_name='Qual Total')
        .assign(Sex=lambda df_:df_.sex_age.str[0],
                **{'Age Group':(lambda df_: (df_
                    .sex_age
                    .str.extract(r'(\d{2}[-+](?:\d{2})?)',
                                 expand=False)))})
        .drop(columns='sex_age')
)
print(tidy2)

   Weight Category  Qual Total Sex Age Group
0               56         137   M     35-39
1               62         152   M     35-39
2               69         167   M     35-39
3               77         182   M     35-39
4               85         192   M     35-39
..             ...         ...  ..       ...
75              77          65   M       80+
76              85          70   M       80+
77              94          75   M       80+
78             105          80   M       80+
79            105+          85   M       80+

[80 rows x 4 columns]

## 10.9 重塑多個變數儲存在單一欄位內的資料

In [24]:
# 載入資料集
inspections = pd.read_csv('../../data/restaurant_inspections.csv',
                          parse_dates=['Date'])
print(inspections)

                              Name       Date         Info  \
0                E & E Grill House 2017-08-08      Borough
1                E & E Grill House 2017-08-08      Cuisine
2                E & E Grill House 2017-08-08  Description
3                E & E Grill House 2017-08-08        Grade
4                E & E Grill House 2017-08-08        Score
..                             ...        ...          ...
495  PIER SIXTY ONE-THE LIGHTHOUSE 2017-09-01      Borough
496  PIER SIXTY ONE-THE LIGHTHOUSE 2017-09-01      Cuisine
497  PIER SIXTY ONE-THE LIGHTHOUSE 2017-09-01  Description
498  PIER SIXTY ONE-THE LIGHTHOUSE 2017-09-01        Grade
499  PIER SIXTY ONE-THE LIGHTHOUSE 2017-09-01        Score

                                                 Value
0                                            MANHATTAN
1                                             American
2    Non-food contact surface improperly constructe...
3                                                    A
4                                                  9.0
..                                                 ...
495                                          MANHATTAN
496                                           American
497  Filth flies or food/refuse/sewage-associated (...
498                                                  Z
499                                               33.0

[500 rows x 4 columns]

In [25]:
# 用pivot 看得更清楚
print(inspections.pivot(index=['Name', 'Date'],
                        columns='Info',
                        values='Value'))

Info                                                  Borough  \
Name                                Date
3 STAR JUICE CENTER                 2017-05-10       BROOKLYN
A & L PIZZA RESTAURANT              2017-08-22       BROOKLYN
AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25       BROOKLYN
ANTOJITOS DELI FOOD                 2017-06-01       BROOKLYN
BANGIA                              2017-06-16      MANHATTAN
...                                                       ...
VALL'S PIZZERIA                     2017-03-15  STATEN ISLAND
VIP GRILL                           2017-06-12       BROOKLYN
WAHIZZA                             2017-04-13      MANHATTAN
WANG MANDOO HOUSE                   2017-08-29         QUEENS
XIAOYAN YABO INC                    2017-08-29         QUEENS

Info                                                                                      Cuisine  \
Name                                Date
3 STAR JUICE CENTER                 2017-05-10                     Juice, Smoothies, Fruit Salads
A & L PIZZA RESTAURANT              2017-08-22                                              Pizza
AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25                                            Turkish
ANTOJITOS DELI FOOD                 2017-06-01  Latin (Cuban, Dominican, Puerto Rican, South &...
BANGIA                              2017-06-16                                             Korean
...                                                                                           ...
VALL'S PIZZERIA                     2017-03-15                                      Pizza/Italian
VIP GRILL                           2017-06-12                                      Jewish/Kosher
WAHIZZA                             2017-04-13                                              Pizza
WANG MANDOO HOUSE                   2017-08-29                                             Korean
XIAOYAN YABO INC                    2017-08-29                                             Korean

Info                                                                                  Description  \
Name                                Date
3 STAR JUICE CENTER                 2017-05-10  Facility not vermin proof. Harborage or condit...
A & L PIZZA RESTAURANT              2017-08-22  Facility not vermin proof. Harborage or condit...
AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25  Plumbing not properly installed or maintained;...
ANTOJITOS DELI FOOD                 2017-06-01  Live roaches present in facility's food and/or...
BANGIA                              2017-06-16  Covered garbage receptacle not provided or ina...
...                                                                                           ...
VALL'S PIZZERIA                     2017-03-15  Wiping cloths soiled or not stored in sanitizi...
VIP GRILL                           2017-06-12        Hot food item not held at or above 140Âº F.
WAHIZZA                             2017-04-13  No facilities available to wash, rinse and san...
WANG MANDOO HOUSE                   2017-08-29  Accurate thermometer not provided in refrigera...
XIAOYAN YABO INC                    2017-08-29  Evidence of mice or live mice present in facil...

Info                                           Grade Score
Name                                Date
3 STAR JUICE CENTER                 2017-05-10     A  12.0
A & L PIZZA RESTAURANT              2017-08-22     A   9.0
AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25     A  13.0
ANTOJITOS DELI FOOD                 2017-06-01     A  10.0
BANGIA                              2017-06-16     A   9.0
...                                              ...   ...
VALL'S PIZZERIA                     2017-03-15     A   9.0
VIP GRILL                           2017-06-12     A  10.0
WAHIZZA                             2017-04-13     A  10.0
WANG MANDOO HOUSE                   2017-08-29     A  12.0
XIAOYAN YABO INC                    2017-08-29     Z  49.0

[100 rows x 5 columns]

In [ ]:
# 把欄位設成索引 然後unstack 再把索引移回欄位中
print(inspections
        .set_index(['Name', 'Date', 'Info'])
        .unstack('Info')
        .reset_index(col_level=-1))

                                                              Value  \
Info                                 Name       Date        Borough
0                     3 STAR JUICE CENTER 2017-05-10       BROOKLYN
1                  A & L PIZZA RESTAURANT 2017-08-22       BROOKLYN
2     AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25       BROOKLYN
3                     ANTOJITOS DELI FOOD 2017-06-01       BROOKLYN
4                                  BANGIA 2017-06-16      MANHATTAN
..                                    ...        ...            ...
95                        VALL'S PIZZERIA 2017-03-15  STATEN ISLAND
96                              VIP GRILL 2017-06-12       BROOKLYN
97                                WAHIZZA 2017-04-13      MANHATTAN
98                      WANG MANDOO HOUSE 2017-08-29         QUEENS
99                       XIAOYAN YABO INC 2017-08-29         QUEENS

                                                         \
Info                                            Cuisine
0                        Juice, Smoothies, Fruit Salads
1                                                 Pizza
2                                               Turkish
3     Latin (Cuban, Dominican, Puerto Rican, South &...
4                                                Korean
..                                                  ...
95                                        Pizza/Italian
96                                        Jewish/Kosher
97                                                Pizza
98                                               Korean
99                                               Korean


Info                                        Description Grade Score
0     Facility not vermin proof. Harborage or condit...     A  12.0
1     Facility not vermin proof. Harborage or condit...     A   9.0
2     Plumbing not properly installed or maintained;...     A  13.0
3     Live roaches present in facility's food and/or...     A  10.0
4     Covered garbage receptacle not provided or ina...     A   9.0
..                                                  ...   ...   ...
95    Wiping cloths soiled or not stored in sanitizi...     A   9.0
96          Hot food item not held at or above 140Âº F.     A  10.0
97    No facilities available to wash, rinse and san...     A  10.0
98    Accurate thermometer not provided in refrigera...     A  12.0
99    Evidence of mice or live mice present in facil...     Z  49.0

[100 rows x 7 columns]

In [27]:
# 如果不要multiIndex 可以使用squeeze()
print(inspections
        .set_index(['Name', 'Date', 'Info'])
        .squeeze()
        .unstack('Info')
        .reset_index()
        .rename_axis(None, axis='columns'))

                                   Name       Date        Borough  \
0                   3 STAR JUICE CENTER 2017-05-10       BROOKLYN
1                A & L PIZZA RESTAURANT 2017-08-22       BROOKLYN
2   AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25       BROOKLYN
3                   ANTOJITOS DELI FOOD 2017-06-01       BROOKLYN
4                                BANGIA 2017-06-16      MANHATTAN
..                                  ...        ...            ...
95                      VALL'S PIZZERIA 2017-03-15  STATEN ISLAND
96                            VIP GRILL 2017-06-12       BROOKLYN
97                              WAHIZZA 2017-04-13      MANHATTAN
98                    WANG MANDOO HOUSE 2017-08-29         QUEENS
99                     XIAOYAN YABO INC 2017-08-29         QUEENS

                                              Cuisine  \
0                      Juice, Smoothies, Fruit Salads
1                                               Pizza
2                                             Turkish
3   Latin (Cuban, Dominican, Puerto Rican, South &...
4                                              Korean
..                                                ...
95                                      Pizza/Italian
96                                      Jewish/Kosher
97                                              Pizza
98                                             Korean
99                                             Korean

                                          Description Grade Score
0   Facility not vermin proof. Harborage or condit...     A  12.0
1   Facility not vermin proof. Harborage or condit...     A   9.0
2   Plumbing not properly installed or maintained;...     A  13.0
3   Live roaches present in facility's food and/or...     A  10.0
4   Covered garbage receptacle not provided or ina...     A   9.0
..                                                ...   ...   ...
95  Wiping cloths soiled or not stored in sanitizi...     A   9.0
96        Hot food item not held at or above 140Âº F.     A  10.0
97  No facilities available to wash, rinse and san...     A  10.0
98  Accurate thermometer not provided in refrigera...     A  12.0
99  Evidence of mice or live mice present in facil...     Z  49.0

[100 rows x 7 columns]

In [ ]:
# pivot_table
print(inspections
        .pivot_table(index=['Name', 'Date'],
                     columns='Info',
                     values='Value',
                     aggfunc='first')
        .reset_index()
        .rename_axis(None, axis='columns'))

                                   Name       Date        Borough  \
0                   3 STAR JUICE CENTER 2017-05-10       BROOKLYN
1                A & L PIZZA RESTAURANT 2017-08-22       BROOKLYN
2   AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25       BROOKLYN
3                   ANTOJITOS DELI FOOD 2017-06-01       BROOKLYN
4                                BANGIA 2017-06-16      MANHATTAN
..                                  ...        ...            ...
95                      VALL'S PIZZERIA 2017-03-15  STATEN ISLAND
96                            VIP GRILL 2017-06-12       BROOKLYN
97                              WAHIZZA 2017-04-13      MANHATTAN
98                    WANG MANDOO HOUSE 2017-08-29         QUEENS
99                     XIAOYAN YABO INC 2017-08-29         QUEENS

                                              Cuisine  \
0                      Juice, Smoothies, Fruit Salads
1                                               Pizza
2                                             Turkish
3   Latin (Cuban, Dominican, Puerto Rican, South &...
4                                              Korean
..                                                ...
95                                      Pizza/Italian
96                                      Jewish/Kosher
97                                              Pizza
98                                             Korean
99                                             Korean

                                          Description Grade Score
0   Facility not vermin proof. Harborage or condit...     A  12.0
1   Facility not vermin proof. Harborage or condit...     A   9.0
2   Plumbing not properly installed or maintained;...     A  13.0
3   Live roaches present in facility's food and/or...     A  10.0
4   Covered garbage receptacle not provided or ina...     A   9.0
..                                                ...   ...   ...
95  Wiping cloths soiled or not stored in sanitizi...     A   9.0
96        Hot food item not held at or above 140Âº F.     A  10.0
97  No facilities available to wash, rinse and san...     A  10.0
98  Accurate thermometer not provided in refrigera...     A  12.0
99  Evidence of mice or live mice present in facil...     Z  49.0

[100 rows x 7 columns]

## 10.10 整理單一儲存格中包含多個值的資料

In [30]:
# 載入資料集
cities = pd.read_csv('../../data/texas_cities.csv')
print(cities)

      City             Geolocation
0  Houston  29.7604° N, 95.3698° W
1   Dallas  32.7767° N, 96.7970° W
2   Austin  30.2672° N, 97.7431° W

In [31]:
# 拆成四個欄位
geolocations = cities.Geolocation.str.split(pat='. ', expand=True)

geolocations.columns = ['latitude', 'latitude direction', 'longitude', 'longitude direction']

geolocations = geolocations.astype({'latitude':'float', 'longitude':'float'})

geolocations.assign(city=cities['City'])

print(geolocations)

   latitude latitude direction  longitude longitude direction
0   29.7604                  N    95.3698                   W
1   32.7767                  N    96.7970                   W
2   30.2672                  N    97.7431                   W

## 10.11 整理欄位名稱及欄位值包含變數的資料

In [32]:
# 載入資料集
sensors = pd.read_csv('../../data/sensors.csv')
print(sensors)

  Group     Property  2012  2013  2014  2015  2016
0     A     Pressure   928   873   814   973   870
1     A  Temperature  1026  1038  1009  1036  1042
2     A         Flow   819   806   861   882   856
3     B     Pressure   817   877   914   806   942
4     B  Temperature  1008  1041  1009  1002  1013
5     B         Flow   887   899   837   824   873

In [33]:
# 先處理年分
print(sensors.melt(id_vars=['Group', 'Property'], var_name='Year'))

   Group     Property  Year  value
0      A     Pressure  2012    928
1      A  Temperature  2012   1026
2      A         Flow  2012    819
3      B     Pressure  2012    817
4      B  Temperature  2012   1008
5      B         Flow  2012    887
6      A     Pressure  2013    873
7      A  Temperature  2013   1038
8      A         Flow  2013    806
9      B     Pressure  2013    877
10     B  Temperature  2013   1041
11     B         Flow  2013    899
12     A     Pressure  2014    814
13     A  Temperature  2014   1009
14     A         Flow  2014    861
15     B     Pressure  2014    914
16     B  Temperature  2014   1009
17     B         Flow  2014    837
18     A     Pressure  2015    973
19     A  Temperature  2015   1036
20     A         Flow  2015    882
21     B     Pressure  2015    806
22     B  Temperature  2015   1002
23     B         Flow  2015    824
24     A     Pressure  2016    870
25     A  Temperature  2016   1042
26     A         Flow  2016    856
27     B     Pressure  2016    942
28     B  Temperature  2016   1013
29     B         Flow  2016    873

In [36]:
# 再用pivot_table 處理單欄位中多變數的問題
print(sensors
        .melt(id_vars=['Group', 'Property'], var_name='Year')
        .pivot_table(index=['Group', 'Year'],
                     columns='Property',
                     values='value')
        .reset_index()
        .rename_axis(None, axis='columns')
        )

  Group  Year   Flow  Pressure  Temperature
0     A  2012  819.0     928.0       1026.0
1     A  2013  806.0     873.0       1038.0
2     A  2014  861.0     814.0       1009.0
3     A  2015  882.0     973.0       1036.0
4     A  2016  856.0     870.0       1042.0
5     B  2012  887.0     817.0       1008.0
6     B  2013  899.0     877.0       1041.0
7     B  2014  837.0     914.0       1009.0
8     B  2015  824.0     806.0       1002.0
9     B  2016  873.0     942.0       1013.0

In [37]:
# 一樣可以使用stack unstack
print(sensors
        .set_index(['Group', 'Property'])
        .stack()
        .unstack('Property')
        .rename_axis(['Group', 'Year'], axis='index')
        .rename_axis(None, axis='columns')
        .reset_index())

  Group  Year  Flow  Pressure  Temperature
0     A  2012   819       928         1026
1     A  2013   806       873         1038
2     A  2014   861       814         1009
3     A  2015   882       973         1036
4     A  2016   856       870         1042
5     B  2012   887       817         1008
6     B  2013   899       877         1041
7     B  2014   837       914         1009
8     B  2015   824       806         1002
9     B  2016   873       942         1013